@using Schma.E3ProjectManager.Presentation.Web.ViewModels.Projects
@model IndexViewModel

@{
    ViewBag.Title = "Projects";
    ViewBag.pTitle = "Projects";
    ViewBag.pageTitle = "Schma.E3ProjectManager";
}

<partial name="_DatatablesCss" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="projects" class="table table-striped table-hover dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="thead-light">
                        <tr>                            
                            <th>Tracking Number</th>
                            <th>Project Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Projects)
                        {
                            <tr>                                
                                <td>@order.TrackingNumber</td>
                                <td>@order.ProjectName</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->